<!-- wp:template-part {"slug":"header-archive","theme":"saaslauncher","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"border":{"top":{"width":"0px","style":"none"},"right":[],"bottom":{"width":"0px","style":"none"},"left":[]},"spacing":{"padding":{"top":"64px","bottom":"64px","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"background-alt","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-background-alt-background-color has-background"
  style="border-top-style: none; border-top-width: 0px; border-bottom-style: none; border-bottom-width: 0px; margin-top: 0; margin-bottom: 0; padding-top: 64px; padding-right: var(--wp--preset--spacing--40); padding-bottom: 64px; padding-left: var(--wp--preset--spacing--40)">
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1180px"}} -->
  <div class="wp-block-group" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
    <!-- wp:query {"queryId":21,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"grid","columnCount":3}} -->
      <!-- wp:group {"className":"is-style-default saaslauncher-hover-box","style":{"spacing":{"blockGap":"var:preset|spacing|30","padding":{"right":"0px","left":"0px","top":"0px","bottom":"0px"}},"border":{"radius":"0px","width":"1px"}},"borderColor":"border-color","layout":{"type":"constrained"}} -->
      <div class="wp-block-group is-style-default saaslauncher-hover-box has-border-color has-border-color-border-color" style="border-width: 1px; border-radius: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px">
        <!-- wp:post-featured-image {"isLink":true,"height":"280px","align":"wide","style":{"border":{"radius":"0px"},"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->

        <!-- wp:group {"style":{"spacing":{"padding":{"right":"24px","left":"24px","top":"24px","bottom":"24px"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
        <div class="wp-block-group" style="margin-top: 0; margin-bottom: 0; padding-top: 24px; padding-right: 24px; padding-bottom: 24px; padding-left: 24px">
          <!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|meta-color"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}},"fontSize":"small"} /-->

          <!-- wp:post-title {"level":3,"isLink":true,"className":"is-style-title-hover-secondary-color","style":{"elements":{"link":{"color":{"text":"var:preset|color|light-color"},":hover":{"color":{"text":"var:preset|color|primary"}}}},"typography":{"fontStyle":"normal","fontWeight":"600"},"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"0"}}},"fontSize":"big"} /-->

          <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
          <div class="wp-block-group" style="margin-top: 0; margin-bottom: 0; padding-top: var(--wp--preset--spacing--40); padding-bottom: var(--wp--preset--spacing--40)">
            <!-- wp:post-author-name {"style":{"typography":{"textTransform":"capitalize"}}} /-->

            <!-- wp:post-date /-->
          </div>
          <!-- /wp:group -->

          <!-- wp:post-excerpt {"excerptLength":15,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"}}}},"textColor":"foreground-alt"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
      <!-- /wp:post-template -->

      <!-- wp:query-pagination -->
      <!-- wp:query-pagination-previous /-->

      <!-- wp:query-pagination-numbers /-->

      <!-- wp:query-pagination-next /-->
      <!-- /wp:query-pagination -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"saaslauncher","area":"footer"} /-->
